!!!
%html
  %head
  %body.slideshow
    #slides
      %ul.slides-container
        %li
          %img{alt: "test", src: "assets/dark_sunset.jpg"}/
          .slideshow-container
            %h1
            .slideshow-contrast
              %p
              “Success is going from failure to failure without losing enthusiasm.” - WC

        %li
          %img{alt: "Cinelli", src: "assets/London1.jpeg"}/
          .slideshow-container
            %h1
            .slideshow-contrast
              %p
              “Better late than never.” - GM
        %li
          %img{alt: "Surly",  src: "assets/purple_forest.png"}/
          .slideshow-container
            %h1
            .slideshow-contrast
              %p
              “I don't think i've ever been more pleased with myself” - AH
      %nav.slides-navigation
        %a.next{href: "#"} Next
        %a.prev{href: "#"} Previous
  :javascript
    $(function() {
      $('#slides').superslides({
        
      });
    });
  %footer.footer-bar
    %hr
    .footer-link
      = link_to 'New Post', new_post_path

    .footer-link-right
      = form_tag searches_path do
        = text_field_tag :query
        = submit_tag "Search"
