
%h2 Favourite Hoots
%ol
  - @top_posts.each do |post|
    %li
      =post.content
      Posted by:
      =post.user.name

%h2 Favourite Hootsters
%ol
  - @top_users.each do |user|
    %li
      =user.name