/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #adb5be;
  // margin-bottom: 200px;
}

/*********
* HEADER *
*********/

.nav-bar {
  // margin: 0 auto;
  // max-width: 900px;
  color: white;
  .nav-link {
    float: left;
    padding: 0.5em;
    a {
    text-decoration: none;
    color: white;
    }
  }
  .nav-link-right {
    float: right;
    padding: 0.5em;
    a {
    text-decoration: none;
    color: white;
    }
  }
  .nav-break {
    clear: both;
  }
  .flash {
    color:red;
    padding-left: 0.5em;
  }
}

/********
* POSTS *
********/

.container {
  width: 90%;
  margin: auto;
  color: white;
  h1 {
    color: #53575b;
  }
  a {
    color: white;
    text-decoration: none;
  }
  .post-score {
    width: 2%;
    margin-left: 1em;
    display: inline-block;
    text-align: center;
  }
  .post-voting {
    width: 3%;
    margin-left: 0.5em;
    display: inline-block;
  }
  .post-comment {
    display: inline-block;
    width: 55%;
    margin-left: 0.5em;
    vertical-align: middle;
  }
  .post-commentcount {
    display: inline-block;
    margin-left: 2em;
  }
  .post-buttons {
    display: inline-block;
    margin-left: 2em;
  }
  .post-break {
    // clear: both;
  }
}

/*********
* FOOTER *
*********/

.footer-bar {
  position: fixed;
  bottom: 0px;
  width: 100%;
  color: white;
  margin: auto;
  hr {
    margin-bottom: 1px;
  }
  .footer-link {
    float: left;
    padding: 0.5em;
    a {
    text-decoration: none;
    color: white;
    }
  }
}

/****************
* MEDIA QUERIES *
****************/

@media only screen and (max-width: 1024px) {

  .container {
    display: block;
    
    .post-score {
    }
    .post-voting {

    }
    .post-comment {
      // display: inline-block;
      margin-left: 0.5em;
      margin-top: 1em;
      margin-bottom: 1em;
    }
    .post-commentcount {
      margin-left: 0.5em;
    }
    .post-buttons {

    }
  }  
}





