/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* {
  font-family: 'Droid Sans', sans-serif;
}


*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: url('Green-Fields.jpg');
  background-repeat: no-repeat;
  background-color: #000;
  background-size: 100%;
  overflow: hidden;
  color: white;
  // background: #adb5be;
  // margin-bottom: 200px;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

/*********
* HEADER *
*********/

.nav-bar {
  // margin: 0 auto;
  // max-width: 900px;
  color: white;
  text-shadow:4px 4px 4px #000000;
  position: fixed !important;
  width: 100%;
  z-index: 10;
  margin-top: 0;
  background-color: transparent;
  top: 0;
  right: 0;
  left: 0;
  .nav-link {
    float: left;
    padding: 0.5em;
    vertical-align: middle;
    a {
    text-decoration: none;
    color: white;
    }
  }
  .nav-link-right {
    float: right;
    padding: 0.5em;
    a {
    text-decoration: none;
    color: white;
    }
  }
  .nav-break {
    clear: both;
  }
  .flash {
    color:#F0F0F0;
    text-shadow:4px 4px 4px #000000;
    padding-left: 0.5em;
  }
}

/********
* POSTS *
********/

.container {
  text-shadow:4px 4px 4px #000000;
  width: 60%;
  min-width: 350px;
  // margin-top: 100px;
  margin: 100px auto;
  // margin-right: 20px;
  // margin-left: 200px;
  vertical-align: middle;
  color: white;
  .top-posts-container {
    position: absolute;
    width: 42.5%;
    height: 70%;
    max-height: 500px;
    overflow: scroll;
    // margin-top: 0px;
    left: 5%;
    float: left;
  }
  .latest-posts-container {
    position: absolute;
    width: 42.5%;
    height: 70%;
    max-height: 500px;
    overflow: scroll;
    // margin-top: 0px;
    left: 52.5%;
    float: left;
  }
  // .posts{
  //   position: relative;
  //   overflow: scroll;
  //   float: right;
  //   height: 200px;
  // }
  a {
    color: white;
    text-decoration: none;
  }
  // img {
  //   vertical-align: middle;
  //   width: 25px;
  //   height: 25px;
  // }
  // .post-voting-up {
  //   width: 3%;
  //   margin-left: 0.5em;
  //   display: inline-block;
  //   img {
  //     width: 25px;
  //     height: 25px;
  //   }
  // }
  // .post-voting-down {
  //   width: 3%;
  //   display: inline-block;
  //   margin-left: 0.5em;
  // }
  .post-score {
    width: 2%;
    margin-left: 1em;
    display: inline-block;
    text-align: center;
  }
  .post-comment {
    display: inline-block;
    width: 50%;
    margin-left: 0.5em;
    vertical-align: middle;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .post-comment-stats {
    // position: absolute;
    display: inline-block;
    // left: 65%;
    // vertical-align: middle;
    margin-left: 1em;
  }
  // .post-published {
  //   position: absolute;
  //   left: 70%;
  //   vertical-align: middle;
  //   // display: inline-block;
  //   // text-align: right;
  // }
  // .post-buttons {
  //   display: inline-block;
  //   margin-left: 2em;
  // }
  // .post-break {
  //   // clear: both;
  // }
}

/***********
* My POSTS *
***********/

.container-myposts {
  text-shadow:4px 4px 4px #000000;
  width: 60%;
  min-width: 350px;
  // margin-top: 100px;
  margin: 100px auto;
  // margin-right: 20px;
  // margin-left: 200px;
  vertical-align: middle;
  color: white;
  .my-posts-container {
    position: absolute;
    width: 70%;
    height: 70%;
    max-height: 500px;
    overflow: scroll;
    // margin-top: 0px;
    left: 15%;
    float: left;
    a {
    color: white;
    text-decoration: none;
    }
    .post-score {
      width: 2%;
      margin-left: 1em;
      display: inline-block;
      text-align: center;
    }
    .post-comment {
      display: inline-block;
      width: 80%;
      margin-left: 0.5em;
      // vertical-align: middle;
            // margin-left: 0.5em;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      vertical-align: middle;
    }
    .post-commentcount {
      display: inline-block;
      margin-left: 1em;
      // vertical-align: middle;

      // position: relative;
      // vertical-align: middle;
      // margin-left: 40%;
      // left: 50%;
      // text-align: right;
    }
  }
}

/*************
* FAVOURITES *
*************/

.container-favs {
  text-shadow:4px 4px 4px #000000;
  width: 60%;
  min-width: 350px;
  // margin-top: 100px;
  margin: 100px auto;
  // margin-right: 20px;
  // margin-left: 200px;
  vertical-align: middle;
  color: white;
  .favs-container-1 {
    position: absolute;
    width: 70%;
    height: 40%;
    max-height: 500px;
    overflow: scroll;
    // margin-top: 0px;
    left: 15%;
    float: left;
    a {
    color: white;
    text-decoration: none;
    }
    .post-score {
      width: 2%;
      margin-left: 1em;
      display: inline-block;
      text-align: center;
    }
    .post-comment {
      display: inline-block;
      width: 75%;
      margin-left: 0.5em;
      // vertical-align: middle;
            // margin-left: 0.5em;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      vertical-align: middle;
    }
    .post-commentcount {
      display: inline-block;
      margin-left: 1em;
      // vertical-align: middle;

      // position: relative;
      // vertical-align: middle;
      // margin-left: 40%;
      // left: 50%;
      // text-align: right;
    }
  }
  .favs-container-2 {
    position: absolute;
    margin-top: 22.5%;
    width: 70%;
    height: 30%;
    // max-height: 500px;
    // overflow: scroll;
    // margin-top: 0px;
    left: 15%;
    // float: left;
    a {
    color: white;
    text-decoration: none;
    }
    li {
      margin-bottom: 1em;
    }
  }
}

/***********
* SEARCHES *
***********/

.container-search {
  text-shadow:4px 4px 4px #000000;
  width: 60%;
  min-width: 350px;
  // margin-top: 100px;
  margin: 100px auto;
  // margin-right: 20px;
  // margin-left: 200px;
  vertical-align: middle;
  color: white;
  .my-search {
    position: absolute;
    width: 70%;
    height: 70%;
    max-height: 500px;
    overflow: scroll;
    // margin-top: 0px;
    left: 15%;
    float: left;
    a {
    color: white;
    text-decoration: none;
    }
    .post-comment {
      display: inline-block;
      width: 80%;
      margin-left: 0.5em;
      // vertical-align: middle;
            // margin-left: 0.5em;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      vertical-align: middle;
    }
  }
}

/*********
* SIGNIN *
*********/
a:link {
  color:#FFFFFF;
  // padding: 5px;
}

.sign-in {
  width: 400px;
  height: 425px;
  background-color: rgba(0, 0, 0, 0.6);
  margin: auto;
  margin-top: 10%;
  border-radius: 10px;
  color: #ffffff;
  padding: 5px;
  // opacity: 0.25;
  a {
    color: #ffffff;
    text-decoration: none;
  }
  .header {
    text-align: center;
    padding-top: 0.1em;
  }
  .form {
    text-align: center;
    padding: 5px;
    .button .button {
      color: rgb(255, 255, 255);
      font-size: 17px;
      padding: 12px;
      text-shadow: 0px -1px 0px rgba(0, 0, 0, 0);
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      border-radius: 12px;
      background: rgb(0, 0, 0);
      background: -moz-linear-gradient(86deg, rgb(0, 0, 0) 100%, rgb(0, 0, 0) 100%);
      background: -webkit-linear-gradient(86deg, rgb(0, 0, 0) 100%, rgb(0, 0, 0) 100%);
      background: -o-linear-gradient(86deg, rgb(0, 0, 0) 100%, rgb(0, 0, 0) 100%);
      background: -ms-linear-gradient(86deg, rgb(0, 0, 0) 100%, rgb(0, 0, 0) 100%);
      background: linear-gradient(356deg, rgb(0, 0, 0) 100%, rgb(0, 0, 0) 100%);
      -webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0);
      -moz-box-shadow:    0px 2px 1px rgba(50, 50, 50, 0);
      box-shadow:         0px 2px 1px rgba(50, 50, 50, 0);
    }
  }
  .oauth {
    text-align: center;
    img {
      border-radius: 5px;
      margin-left: 1.5em;
      width: 40px;
      height:40px;
    }
  }

  .text {
    padding: 5px;
    text-shadow: 2px 2px 1px rgba(150, 150, 158, 1);
  }
  .box {
    padding: 5px;
  }
  .links {
    text-align: center;
    color: #ffffff;

    // text-shadow: 2px 2px 1px rgba(150, 150, 158, 1);
    // background-color: rgba(0, 0, 0, 0.6);
    height: 30px;
  }
}

/*********
* SIGNUP *
*********/

.sign-up {
  width: 400px;
  height: 470px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  margin: auto;
  margin-top: 10%;
  border-radius: 10px;
  // opacity: 0.25;
  a {
    color: #ffffff;
    text-decoration: none;
  }
  .header {
    text-align: center;
    padding-top: 1em;
  }
  .form {
    text-align: center;
  }
  .oauth {
    text-align: center;
    img {
      border-radius: 5px;
      margin-left: 1.5em;
      width: 40px;
      height:40px;
    }
  }
  .links {
    text-align: center;
    height: 30px;
  }
}


/*********
* FOOTER *
*********/

.footer-bar {
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 10;
  color: white;
  // margin: auto;
  margin-top: 200px;
  hr {
    margin-top: 0px;
  }
  .footer-link {
    float: left;
    padding: 0.5em;
    a {
    text-decoration: none;
    color: white;
    }
  }
  .footer-link-right {
    float: right;
    padding: 0.5em;
    a {
    text-decoration: none;
    color: white;
    }
  }
}

/****************
* MEDIA QUERIES *
****************/

// @media only screen and (max-width: 1024px) {

// .nav-bar {
//   // display: inline-block;
// }


//   .container {
//     display: block;
    
//     .post-score {
//     }
//     .post-voting {

//     }
//     .post-comment {
//       // display: inline-block;
//       margin-left: 0.5em;
//       margin-top: 1em;
//       margin-bottom: 1em;
//     }
//     .post-commentcount {
//       margin-left: 0.5em;
//     }
//     .post-buttons {

//     }
//   }  
// }





