/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #adb5be;
  // margin-bottom: 200px;
}

/*********
* HEADER *
*********/

.nav-bar {
  // margin: 0 auto;
  // max-width: 900px;
  color: white;
  .nav-link {
    float: left;
    padding: 0.5em;
    a {
    text-decoration: none;
    color: white;
    }
  }
  .nav-link-right {
    float: right;
    padding: 0.5em;
    a {
    text-decoration: none;
    color: white;
    }
  }
  .nav-break {
    clear: both;
  }
  .flash {
    color:red;
    padding-left: 0.5em;
  }
}

/********
* POSTS *
********/

.container {
  width: 1100px;
  margin: auto;
  color: white;
  h1 {
    color: black;
  }
  a {
    color: white;
  }
}

/*********
* FOOTER *
*********/

.footer-bar {
  position: fixed;
  bottom: 0px;
  width: 100%;
  color: white;
  margin: auto;
  hr {
    margin-bottom: 1px;
  }
  .footer-link {
    float: left;
    padding: 0.5em;
    a {
    text-decoration: none;
    color: white;
    }
  }
}




