.slideshow{
  margin: 0;
}

.next {
  position: absolute;
  right: 0;
  color: white;
  z-index: 10;
}

.slideshow-container{
  position: relative;
  width: 25%;
  max-width: 500px;
  left: 134px;
  top: 13%;
  padding: 10px 20px;
}

.slideshow-contrast {
  color: white;
  background: rgba(0, 0, 0, 0.3);
  padding: 1px 10px;
  -webkit-box-shadow: 0 0 23px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 23px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 23px 5px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.icon-chevron-left:before {
  content: '\2039';
  font-size: 100px;
  z-index: 3;
  text-decoration: none;
}

.icon-chevron-right:before {
  content: '\203a';
  font-size: 100px;
  z-index: 3;
}
.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;
}
.slides-navigation a.prev {
  position: absolute;
  left: 0;
  color: white;
  z-index: 10;
  text-decoration: none;
}
.slides-navigation a.next {
  position: absolute;
  right: 0;
  color: white;
  z-index: 10;
  text-decoration: none;
}